<ion-header>
  <ion-navbar>
    <ion-title>
      Customer
    </ion-title>
  </ion-navbar>
</ion-header>

  <ion-content>
  <ion-list>
   

    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input type="email" #email placeholder="Email"></ion-input>
    </ion-item>

     <ion-item>
      <ion-label color="primary" stacked>Password</ion-label>
      <ion-input type="text" #password placeholder="Password "></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Select Roll</ion-label>
      <ion-select [(ngModel)]="roll" multiple="false">
        <ion-option value="true">Admin</ion-option>
        <ion-option value="false">User</ion-option>
        
      </ion-select>
    </ion-item>


  </ion-list>

  <div style="text-align:center;margin-top:10px">
    <button ion-button color="secondary" round (click)="createUser(email.value,password.value,roll)">Add Cutomer</button>
  </div>
</ion-content>