<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      COMPANY NAME:ABC
    </ion-item>
    <ion-item>
      OWNER NAME:XYZ
    </ion-item>
    <ion-item>
      OWNER NUMBER:3444433
    </ion-item>
    <ion-item>
      PROFILE PIC:
    </ion-item>
    <ion-item>
      ADDRESS:ZCWXSW
    </ion-item>
    <ion-item>
      LANDLINE:324324
    </ion-item>
    <ion-item>
      MOBILE NO:234234
    </ion-item>
    <ion-item>
      Business Type:
    </ion-item>
    <ion-item>
      Sender ID:3345
    </ion-item>
  </ion-list>



</ion-content>