<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item>


      COMPANY NAME:{{branch?.BranchName}}
    </ion-item>
    <ion-item>
      OWNER NAME:{{branch?.BranchName}}
    </ion-item>
    <ion-item>
      OWNER NUMBER:
    </ion-item>
    <ion-item>
      PROFILE PIC:
    </ion-item>
    <ion-item>
      ADDRESS:{{branch?.Address}}
    </ion-item>
    <ion-item>
      LANDLINE:{{branch?.Landline}}
    </ion-item>
    <ion-item>
      MOBILE NO:{{branch?.MobileNo}}
    </ion-item>
    <ion-item>
      Business Type:{{branch?.BusinessType}}
    </ion-item>
    <ion-item>
      Sender ID:{{branch?.SenderID}}
    </ion-item>
  </ion-list>



</ion-content>