<ion-header>
  <ion-navbar>
    <ion-title>
      SMS
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Title</ion-label>
      <ion-input #title type="text" placeholder="Title"></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-label color="primary" stacked>Body</ion-label>
      <ion-textarea  #body  placeholder="Enter a description"></ion-textarea>
    </ion-item>

  </ion-list>

  <div style="text-align:center;margin-top:10px" (click)="createSMS(title.value,body.value)">
    <button ion-button color="secondary" round>Request For Template</button>
  </div>
</ion-content>