<ion-header>
    <ion-navbar>
        <ion-title>
            Customer
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="home">

    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <ion-card>
                    <ion-card-content (click)="goToAddCampaign()">

                        <div> Add Campaign
                            <ion-avatar>
                                <img src="icons/addUser.svg">
                            </ion-avatar>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-6>
 
            </ion-col>
        </ion-row>

    </ion-grid>



</ion-content>